<package-def>
	<class name="АдминистрированиеКластера" file="src/Классы/АдминистрированиеКластера.os"/>
	<class name="АдминистраторыАгента" file="src/Классы/АгентАдминистраторы.os"/>
	<class name="Кластеры" file="src/Классы/АгентКластеры.os"/>
	<class name="Кластер" file="src/Классы/Кластер.os"/>
	<class name="ОбъектыКластера" file="src/Классы/КластерОбъекты.os"/>
	<class name="ПараметрыОбъекта" file="src/Классы/ПараметрыОбъекта.os"/>
	<class name="ПараметрыКоманды" file="src/Классы/ПараметрыКоманды.os"/>
	<class name="АдминистраторыКластера" file="src/Классы/КластерАдминистраторы.os"/>
	<class name="СерверыКластера" file="src/Классы/КластерСерверы.os"/>
	<class name="Сервер" file="src/Классы/Сервер.os"/>
	<class name="МенеджерыКластера" file="src/Классы/КластерМенеджеры.os"/>
	<class name="РабочиеПроцессы" file="src/Классы/КластерРабочиеПроцессы.os"/>
	<class name="РабочийПроцесс" file="src/Классы/РабочийПроцесс.os"/>
	<class name="Сервисы" file="src/Классы/КластерСервисы.os"/>
	<class name="Сеансы" file="src/Классы/Сеансы.os"/>
	<class name="Сеанс" file="src/Классы/Сеанс.os"/>
	<class name="Соединения" file="src/Классы/Соединения.os"/>
	<class name="Блокировки" file="src/Классы/Блокировки.os"/>
	<class name="ИнформационныеБазы" file="src/Классы/КластерИнформационныеБазы.os"/>
	<class name="ИнформационнаяБаза" file="src/Классы/ИнформационнаяБаза.os"/>
	<class name="НазначенияФункциональности" file="src/Классы/СерверНазначенияФункциональности.os"/>
	<class name="НазначениеФункциональности" file="src/Классы/НазначениеФункциональности.os"/>
	<class name="ПрофилиБезопасности" file="src/Классы/КластерПрофилиБезопасности.os"/>
	<class name="ПрофильБезопасности" file="src/Классы/ПрофильБезопасности.os"/>
	<class name="ОбъектыПрофиля" file="src/Классы/ПрофильОбъекты.os"/>
	<class name="ИсполнительКоманд" file="src/Классы/ИсполнительКоманд.os"/>
	<module name="Служебный" file="src/Модули/Служебный.os"/>
	<module name="Перечисления" file="src/Модули/Перечисления.os"/>
</package-def>