<package-def>
	<class name="УправлениеКластером1С" file="src/Классы/УправлениеКластером1С.os"/>
	<class name="АдминистрированиеКластера" file="src/Классы/АдминистрированиеКластера.os"/>
	<class name="АдминистраторыАгента" file="src/Классы/АдминистраторыАгента.os"/>
	<class name="Кластеры" file="src/Классы/Кластеры.os"/>
	<class name="Кластер" file="src/Классы/Кластер.os"/>
	<class name="ОбъектыКластера" file="src/Классы/ОбъектыКластера.os"/>
	<class name="ОбъектКластера" file="src/Классы/ОбъектКластера.os"/>
	<class name="КомандыОбъекта" file="src/Классы/КомандыОбъекта.os"/>
	<class name="АдминистраторыКластера" file="src/Классы/АдминистраторыКластера.os"/>
	<class name="СерверыКластера" file="src/Классы/СерверыКластера.os"/>
	<class name="Сервер" file="src/Классы/Сервер.os"/>
	<class name="МенеджерыКластера" file="src/Классы/МенеджерыКластера.os"/>
	<class name="МенеджерКластера" file="src/Классы/МенеджерКластера.os"/>
	<class name="РабочиеПроцессы" file="src/Классы/РабочиеПроцессы.os"/>
	<class name="РабочийПроцесс" file="src/Классы/РабочийПроцесс.os"/>
	<class name="Сервисы" file="src/Классы/Сервисы.os"/>
	<class name="Сеансы" file="src/Классы/Сеансы.os"/>
	<class name="Сеанс" file="src/Классы/Сеанс.os"/>
	<class name="Соединения" file="src/Классы/Соединения.os"/>
	<class name="Соединение" file="src/Классы/Соединение.os"/>
	<class name="Блокировки" file="src/Классы/Блокировки.os"/>
	<class name="ИнформационныеБазы" file="src/Классы/ИнформационныеБазы.os"/>
	<class name="ИнформационнаяБаза" file="src/Классы/ИнформационнаяБаза.os"/>
	<class name="НазначенияФункциональности" file="src/Классы/НазначенияФункциональности.os"/>
	<class name="НазначениеФункциональности" file="src/Классы/НазначениеФункциональности.os"/>
	<class name="ПрофилиБезопасности" file="src/Классы/ПрофилиБезопасности.os"/>
	<class name="ПрофильБезопасности" file="src/Классы/ПрофильБезопасности.os"/>
	<class name="СчетчикиРесурсов" file="src/Классы/СчетчикиРесурсов.os"/>
	<class name="СчетчикРесурсов" file="src/Классы/СчетчикРесурсов.os"/>
	<class name="ОграниченияРесурсов" file="src/Классы/ОграниченияРесурсов.os"/>
	<class name="ОграничениеРесурсов" file="src/Классы/ОграничениеРесурсов.os"/>
	<class name="ОбъектыПрофиля" file="src/Классы/ОбъектыПрофиля.os"/>
	<class name="ИсполнительКоманд" file="src/Классы/ИсполнительКоманд.os"/>
	<module name="Служебный" file="src/Модули/Служебный.os"/>
	<module name="Перечисления" file="src/Модули/Перечисления.os"/>
	<module name="ТипыОбъектовКластера" file="src/Модули/ТипыОбъектовКластера.os"/>
</package-def>