<package-def>
	<class name="АгентКластера" file="src/Классы/Агент.os"/>
	<class name="АдминистраторыАгента" file="src/Классы/АгентАдминистраторы.os"/>
	<class name="Кластеры" file="src/Классы/АгентКластеры.os"/>
	<class name="Кластер" file="src/Классы/Кластер.os"/>
	<class name="АдминистраторыКластера" file="src/Классы/КластерАдминистраторы.os"/>
	<class name="СерверыКластера" file="src/Классы/КластерСерверы.os"/>
	<class name="Сервер" file="src/Классы/Сервер.os"/>
	<class name="МенеджерыКластера" file="src/Классы/КластерМенеджеры.os"/>
	<class name="РабочиеПроцессы" file="src/Классы/КластерРабочиеПроцессы.os"/>
	<class name="Сервисы" file="src/Классы/КластерСервисы.os"/>
	<class name="ИнформационныеБазы" file="src/Классы/КластерИнформационныеБазы.os"/>
	<class name="ИнформационнаяБаза" file="src/Классы/ИнформационнаяБаза.os"/>
	<class name="АдминистрированиеКластера" file="src/irac.os"/>
	<module name="Служебный" file="src/Модули/Служебный.os"/>
	<module name="СпособыАвторизации" file="src/Модули/СпособыАвторизации.os"/>
	<module name="РежимыРаспределенияНагрузки" file="src/Модули/РежимыРаспределенияНагрузки.os"/>
	<module name="ТипыСУБД" file="src/Модули/ТипыСУБД.os"/>
	<module name="ВариантыИспользованияРабочегоСервера" file="src/Модули/ВариантыИспользованияРабочегоСервера.os"/>
	<module name="ВариантыРазмещенияСервисов" file="src/Модули/ВариантыРазмещенияСервисов.os"/>
	<module name="ПраваДоступа" file="src/Модули/ПраваДоступа.os"/>
	<module name="ВклВыкл" file="src/Модули/ВклВыкл.os"/>
	<module name="ДаНет" file="src/Модули/ДаНет.os"/>
</package-def>