<package-def>
	<class name="АдминистрированиеКластера" file="Классы/АдминистрированиеКластера.os"/>
	<class name="АдминистраторыАгента" file="Классы/АгентАдминистраторы.os"/>
	<class name="Кластеры" file="Классы/АгентКластеры.os"/>
	<class name="Кластер" file="Классы/Кластер.os"/>
	<class name="ОбъектыКластера" file="Классы/КластерОбъекты.os"/>
	<class name="ПараметрыОбъекта" file="Классы/ПараметрыОбъекта.os"/>
	<class name="КомандыОбъекта" file="Классы/КомандыОбъекта.os"/>
	<class name="АдминистраторыКластера" file="Классы/КластерАдминистраторы.os"/>
	<class name="СерверыКластера" file="Классы/КластерСерверы.os"/>
	<class name="Сервер" file="Классы/Сервер.os"/>
	<class name="МенеджерыКластера" file="Классы/КластерМенеджеры.os"/>
	<class name="РабочиеПроцессы" file="Классы/КластерРабочиеПроцессы.os"/>
	<class name="РабочийПроцесс" file="Классы/РабочийПроцесс.os"/>
	<class name="Сервисы" file="Классы/КластерСервисы.os"/>
	<class name="Сеансы" file="Классы/Сеансы.os"/>
	<class name="Сеанс" file="Классы/Сеанс.os"/>
	<class name="Соединения" file="Классы/Соединения.os"/>
	<class name="Соединение" file="Классы/Соединение.os"/>
	<class name="Блокировки" file="Классы/Блокировки.os"/>
	<class name="ИнформационныеБазы" file="Классы/КластерИнформационныеБазы.os"/>
	<class name="ИнформационнаяБаза" file="Классы/ИнформационнаяБаза.os"/>
	<class name="НазначенияФункциональности" file="Классы/СерверНазначенияФункциональности.os"/>
	<class name="НазначениеФункциональности" file="Классы/НазначениеФункциональности.os"/>
	<class name="ПрофилиБезопасности" file="Классы/КластерПрофилиБезопасности.os"/>
	<class name="ПрофильБезопасности" file="Классы/ПрофильБезопасности.os"/>
	<class name="ОбъектыПрофиля" file="Классы/ПрофильОбъекты.os"/>
	<class name="ИсполнительКоманд" file="Классы/ИсполнительКоманд.os"/>
	<module name="Служебный" file="Модули/Служебный.os"/>
	<module name="Перечисления" file="Модули/Перечисления.os"/>
</package-def>