<package-def>
	<class name="АгентКластера" file="Классы/Агент.os"/>
	<class name="АдминистраторыАгента" file="Классы/АгентАдминистраторы.os"/>
	<class name="Кластеры" file="Классы/АгентКластеры.os"/>
	<class name="Кластер" file="Классы/Кластер.os"/>
	<class name="АдминистраторыКластера" file="Классы/КластерАдминистраторы.os"/>
	<class name="СерверыКластера" file="Классы/КластерСерверы.os"/>
	<class name="Сервер" file="Классы/Сервер.os"/>
	<class name="МенеджерыКластера" file="Классы/КластерМенеджеры.os"/>
	<class name="РабочиеПроцессы" file="Классы/КластерРабочиеПроцессы.os"/>
	<class name="Сервисы" file="Классы/КластерСервисы.os"/>
	<class name="ИнформационныеБазы" file="Классы/КластерИнформационныеБазы.os"/>
	<class name="ИнформационнаяБаза" file="Классы/ИнформационнаяБаза.os"/>
	<module name="Служебный" file="Модули/Служебный.os"/>
	<module name="СпособыАвторизации" file="Модули/СпособыАвторизации.os"/>
	<module name="РежимыРаспределенияНагрузки" file="Модули/РежимыРаспределенияНагрузки.os"/>
	<module name="ТипыСУБД" file="Модули/ТипыСУБД.os"/>
	<module name="ВариантыИспользованияРабочегоСервера" file="Модули/ВариантыИспользованияРабочегоСервера.os"/>
	<module name="ВариантыРазмещенияСервисов" file="Модули/ВариантыРазмещенияСервисов.os"/>
	<module name="ПраваДоступа" file="Модули/ПраваДоступа.os"/>
	<module name="ВклВыкл" file="Модули/ВклВыкл.os"/>
	<module name="ДаНет" file="Модули/ДаНет.os"/>
</package-def>