<package-def>
	<class name="УправлениеКластером1С" file="Классы/УправлениеКластером1С.os"/>
	<class name="АдминистрированиеКластера" file="Классы/АдминистрированиеКластера.os"/>
	<class name="АдминистраторыАгента" file="Классы/АдминистраторыАгента.os"/>
	<class name="Кластеры" file="Классы/Кластеры.os"/>
	<class name="Кластер" file="Классы/Кластер.os"/>
	<class name="ОбъектыКластера" file="Классы/ОбъектыКластера.os"/>
	<class name="ОбъектКластера" file="Классы/ОбъектКластера.os"/>
	<class name="КомандыОбъекта" file="Классы/КомандыОбъекта.os"/>
	<class name="АдминистраторыКластера" file="Классы/АдминистраторыКластера.os"/>
	<class name="СерверыКластера" file="Классы/СерверыКластера.os"/>
	<class name="Сервер" file="Классы/Сервер.os"/>
	<class name="МенеджерыКластера" file="Классы/МенеджерыКластера.os"/>
	<class name="МенеджерКластера" file="Классы/МенеджерКластера.os"/>
	<class name="РабочиеПроцессы" file="Классы/РабочиеПроцессы.os"/>
	<class name="РабочийПроцесс" file="Классы/РабочийПроцесс.os"/>
	<class name="Сервисы" file="Классы/Сервисы.os"/>
	<class name="Сеансы" file="Классы/Сеансы.os"/>
	<class name="Сеанс" file="Классы/Сеанс.os"/>
	<class name="Соединения" file="Классы/Соединения.os"/>
	<class name="Соединение" file="Классы/Соединение.os"/>
	<class name="Блокировки" file="Классы/Блокировки.os"/>
	<class name="ИнформационныеБазы" file="Классы/ИнформационныеБазы.os"/>
	<class name="ИнформационнаяБаза" file="Классы/ИнформационнаяБаза.os"/>
	<class name="НазначенияФункциональности" file="Классы/НазначенияФункциональности.os"/>
	<class name="НазначениеФункциональности" file="Классы/НазначениеФункциональности.os"/>
	<class name="ПрофилиБезопасности" file="Классы/ПрофилиБезопасности.os"/>
	<class name="ПрофильБезопасности" file="Классы/ПрофильБезопасности.os"/>
	<class name="СчетчикиРесурсов" file="Классы/СчетчикиРесурсов.os"/>
	<class name="СчетчикРесурсов" file="Классы/СчетчикРесурсов.os"/>
	<class name="ОграниченияРесурсов" file="Классы/ОграниченияРесурсов.os"/>
	<class name="ОграничениеРесурсов" file="Классы/ОграничениеРесурсов.os"/>
	<class name="ОбъектыПрофиля" file="Классы/ОбъектыПрофиля.os"/>
	<class name="Лицензии" file="Классы/Лицензии.os"/>
	<class name="ИсполнительКоманд" file="Классы/ИсполнительКоманд.os"/>
	<module name="Служебный" file="Модули/Служебный.os"/>
	<module name="Перечисления" file="Модули/Перечисления.os"/>
	<module name="ТипыОбъектовКластера" file="Модули/ТипыОбъектовКластера.os"/>
</package-def>